@import url("https://fonts.google.com/specimen/Figtree");

body {
  box-sizing: border-box;
  background-color: hsl(47, 88%, 63%);
}

.wrapper {
  display: block;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  max-width: 75%;
  border: 1px solid black;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 0px;
}

.image-wrapper {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

h1 {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

p {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 42%);
}

.learning {
  display: flex;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%) !important;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

.learning p {
  font-size: 14px;
  color: hsl(0, 0%, 7%) !important;
  font-weight: 800;
  padding: 10px;
}

.context p {
  line-height: 1.5;
}

.publish {
  color: hsl(0, 0%, 7%);
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info p {
  font-size: 14px;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 35%;
  }
}

/* @media (min-width: 768px) {
  .wrapper {
    max-width: 40%;
  }
} */
